/* ! Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* * fonts-end */

:root{
    --header-bg: linear-gradient(186deg, rgba(128,30,73,1) 0%, rgba(64,15,37,1) 100%);
    --bg-color: linear-gradient(180deg, rgba(15,13,23,1) 0%, rgba(128,30,73,1) 100%);
    --yellow: #EBEB18;
    --dark: #2A253E;
    --purple: #801E49;
    --box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

body{
    background: rgb(15,13,23); 
    background: var(--bg-color);
    background-repeat: no-repeat;
}

h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p, h2{
    color: white;
}

p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

ul{
    list-style: none;
}





/*! Header for alle sider */

header{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    background: rgb(128,30,73);
    background: var(--header-bg);
    background-repeat: no-repeat;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.logo img{
    width: 130px;
    padding: 10px;
    margin-left: 30px;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 150px;
}

.searchbar input{
    width: 100%;
    height: 25px;
    border: 1px black solid;
    outline: none;
}

.searchbar button{
    display: flex;
    align-items: center;
    height: 25px;
    background-color: white;
    padding: 10px 10px;
    border: 1px solid black;
    outline: none;
}

nav{
    max-width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    /* width: 500px; */
}

.icon{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.icon a{
    margin-left: 10px;
    color: var(--dark);
    text-decoration: none;
}



.icon li{
    color: white;
    border-bottom: 0px transparent;
}

.icon li:hover{
    border-bottom: 1.5px solid white;
    transition: .3s;
}

.hamburger{
    display: none;
}


/*! Index.html */
/* * Cyberpunk Showcase */
.main-container{
    background-image: url(/media/cyberpunk-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px var(--yellow);
}

.btn-wrapper{
    display: flex;
    margin-top: 200px;
    margin-left: 200px;
}

.btn-wrapper a{
    text-decoration: none;
    
}

.btn{
    border: 1px solid #801E49;
    list-style: none;
    text-decoration: none;
    width: 220px;
    padding: 20px 70px;
    border-radius: 20px;
    background: #EBEB18;
    opacity: .8;
    color: black;
}

.btn-left{
    margin-right: 50px;
}

.btn-right {
    color: var(--purple)
}

/** Karuseller */

.karuseller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
    
    
}

.karuseller img{
    max-width: 400px;
    border-radius: 20px;
    margin: 0 15px;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
    
}



.karusell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
}

.bilder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*! product.html */

.product-showcase{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    height: 500px;
    margin-top: 150px
}

.product-img{
    grid-column: 2;
    background-image: url(/media/Cyberpunk-2077-1024x576.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.product-info{
    background: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}

.product-info span{
    color: white;
    font-size: 1.8rem;
    margin-left: 20px;
}

.star-rating{
    color: var(--yellow);
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 20px;
}

.about-product{
    color: white;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 30px;
}

.product-btn{
    margin-bottom: 60px;
    margin-left: 18px;
}

/*  */

.related-games{
    background: var(--dark);
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.related-games h2{
    padding: 1rem;
    margin-left: 2.5rem;
}

.related-games a{
    display: flex;
    justify-content: flex-end;
    color: var(--yellow);
    margin-right: 4rem;
    padding: 2rem;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px; 
    padding: .5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:hover{
    box-shadow: 0 16px 32px 0 var(--purple);
}

.card img{
    width: 70%;
    
} 

.card p{
    width: 70%;
}


/* ! Products.html */

.game-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    width: 90%;
    margin: auto;
    padding: 3rem;
}

.game{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: var(--box-shadow);
    
}

.game:hover{
    box-shadow: 0 16px 32px 0 var(--purple);;
}

.game img{
    width: 200px;
}

.game p{
    width: 90%;
    margin-left: 20px;
}

.game-info h2 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.price{
    margin-top: 20px;
    font-size: 23px;
}

.products-btn{
    display: flex;
    justify-content: center;
}

.products-btn a{
    text-decoration: none;
}

/* ! Account.html */

.account-container{
    background-color: var(--dark);
    max-width: 1100px;
    margin: 140px auto 140px auto;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px
}

.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid grey;
    width: 400px;
}
.sign-in form{
    margin-top: 1rem;
}



#username, #password{
    height: 28px;
    margin-top: .8rem;
    width: 250px;
}

.sign-in label{
    margin-top: .8rem;
}

.create-acc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 277px;
}

.bigger-text{
    font-size: 22px;
}

.log-in-btn{
    margin-top: 20px;
    border: solid 1px black;
    padding: 10px 20px;
    width: 150px;
    background-color: var(--yellow);
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--purple);
}

label{
    color: white;
}

/* ! Account2.html/Account3.html */

.create-wrapper{
    background-image: url(/media/GameHub_Logo_transparent.png);
    background-repeat: no-repeat;
    /* background-position: right; */
    background-position-x: 70%;
    background-position-y: 60%;
    height: 726px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-wrapper h2{
    margin-bottom: 20px;
    margin-left: 100px;
}

#e-mail, #confirm, #country{
    height: 35px;
    width: 300px;
    margin-bottom: 30px;
}

.create-wrapper form{
    height: 250px;
    margin-left: 100px;
}

.robot{
    background: white;
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.robot span{
    color: var(--dark);
}

#check{
    margin-right: 20px;
}

.create-wrapper ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 40px;
}

.create-wrapper a{
    text-decoration: none;
    color: var(--purple);
}

/* !sell.html */

.sell-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 900px;
    width: 90%;
    margin: 85px auto;
}

.sell-form{
    background: var(--dark);
    max-width: 900px;
    width: 100%;
    margin: 50px auto;
    height: 500px;
    border: 3px solid grey;
}

.sell-form form{
    height: 400px;
    max-width: 800px;
    margin: auto
}

.sell-form form input{
    height: 30px;
}

#fname{
    margin-left: 50px;
    width: 60%;
}

#lname{
    width: 60%;
    margin-left: 52px;
}

#day{
    margin-left: 36px;
    width: 10%;
}

#month{
    width: 20%;
}

#year{
    width: 29%;
}

#land{
    margin-left: 66px;
    width: 60%;
}

#city{
    width: 60%;
    margin-left: 90px;
}

#phone {
    margin-left: 25px;
    width: 60%;
}

.sell-form form label, .sell-form form input{
    margin-top: 30px
}

.sell-form label{
    margin-left: 30px;
}

.sell-form ul{
    margin-left: 70px;
    width: 200px;
}

.sell-form a{
    text-decoration: none;
    color: var(--purple);
}


/* !sell2.html */
.attachments-container{
    max-width: 900px;
    width: 90%;
    margin: 85px auto 135px auto;
}

.attachments-container h2{
    margin-bottom: 50px;
}

.attachments-container ul{
    margin: 0 auto 60px auto;
}

.attachments-container a{
    text-decoration: none;
    color: var(--purple);
}

.attachments{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: var(--dark);
    height: 500px;
    border: 3px solid grey;
}

.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yellow);
    background: rgba(43, 25, 25, 0.37); 
    width: 300px;
    height: 40%;
    margin: 35px auto 30px auto;
    
}

.upload a{
    color: white;
    margin-left: 10px;
}

/* !sell3.html */
.thanks-submit{
    background-image: url(/media/GameHub_Logo_transparent.png);
    background-repeat: no-repeat;
    background-position-x: 48%;
    background-position-y: 40%;
    height: 726px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.succsess-icon{
    color: var(--yellow);
}

.thanks-submit h1{
    margin-bottom: 100px;
}

.thanks-submit a{
    text-decoration: none;
    color: var(--purple);
}

/* !cart.html */

.register{
    width: 80%;
    margin: 100px auto 100px;
    background-repeat: no-repeat;
    background: var(--dark);
    height: 500px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
}

.register-bg{
    background: url(/media/GameHub_Logo_transparent.png);
    width: 600px;
    margin-top: 50px;
    margin-right: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.register-account{
    width: 25%;
    height: 250px;
    margin-top: 50px;
    margin-right: 50px;
    background: #352e52;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid grey;
}

.register-account p{
    width: 90%;
    margin-left: 20px;
}

.your-product-wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.your-product img{
    width: 300px;
}

.your-product{
    display: flex;
}

.your-product-info{
    font-size: 25px;
    height: 210px;
    width: 250px;
    margin-right: 20px;
    background: var(--dark)
}

.your-product-info p{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 23px;
}

.your-product-info span{
    margin-left: 20px
}

.payment-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.payment-container a{
    text-decoration: none;
    color: var(--purple);
}

.payment{
    margin: 0;
    width: 300px;
    background: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.payment div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto;
}



/* !Footer alle sider */

footer{
    background-color: var(--dark);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.social-media {
    color: var(--yellow);
    
}

.social-media a{
    margin: 0 10px;
    color: var(--yellow);
}



/* ! media queries */

@media(max-width: 885px){

    header{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .navbar{
        display: none;
    }

    .hamburger{
        display: flex;
        color: var(--dark);
        
    }

    /*! Product.html  */

    .product-showcase{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        height: 800px;
        justify-content: center;
        
    }

    .product-img{
        height: 300px;

    }

    .product-info{
        height: 400px;
    }

    
}

@media(max-width: 520px){

    /* ! Account3/2.html */
    .create-wrapper{
        background-position: top;
        background-size: contain;
        height: 720px;
        justify-content: flex-end;
    }

    /* ! Products.html */
    .game-container{
        padding: 3rem 0;
    }
}

@media(max-width: 690px){
    /* ! index-html */
    main{
        align-items: center;
        justify-content: space-around;
    }

    .btn-wrapper{
        flex-direction: column;
        align-items: center;
        margin-top: 300px;
        margin-left: 90px;
    }

    .btn-right{
        margin-right: 50px;
        margin-top: 20px;
    }

    /* ! cart.html */
    .register-bg{
        width: 100%;
    }

    .your-product{
        flex-direction: column;
    }

    .your-product-info{
        width: 300px;
    }

}

@media(max-width: 1150px){

    /* ! Account.html */
    .account-container{
        flex-direction: column;
        height: 800px;
        max-width: 700px;
    }

    .sign-in{
        border-right: none;
        border-bottom: 1px solid grey;
        padding-bottom: 50px;
    }

    /* ! cart.html */
    .register{
        flex-direction: column;
        align-items: center;
    }

    .register-bg{
        margin-right: 0;
        background-position: center;
        background-size: contain;   
    }

    .register-account{
        margin: 0;
        width: 60%;
        align-items: center;
    }

    .register-account p{
        width: 65%;
        margin: 0;
    }

    .your-product-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .payment-container{
        margin-top: 20px;
    }

    .your-product-info{
        margin: 0;
    }
}



